<div class="card" style="width: 30rem;">
    <img src="assets/img/DSC_0023ANG.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <app-post username="ruchitabiradar" caption="In the heart of nature"></app-post>
        </div>
</div>


<div class="card" style="width: 30rem;">
    <img src="assets/img/DSC_0167.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <app-post username="ruthvikbiradar" caption="The best sunset at home"></app-post>
        </div>
</div>


<div class="card" style="width: 30rem;">
    <img src="assets/img/DSC_0175.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <app-post username="preranashenoy" caption="Diwali lights *_*"></app-post>
        </div>
</div>

<div class="card" style="width: 30rem;">
        <img src="assets/img/DSC_0047.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <app-post username="rosybiradar" caption="Coorg days"></app-post>
      </div>
</div>
