<div class="card" style="width: 15rem;">
    <!-- <img src="assets/img/DSC_0023ANG.jpg" class="card-img-top" alt="..."> -->
    <!-- <img src="assets/img/DSC_0023ANG.jpg" class="card-img-top" alt="..."> -->
    <!-- <img src="assets/img/DSC_0999.jpg" class="card-img-top" alt="...">  -->
    <!-- <img src="assets/img/DSC_0047.jpg" class="card-img-top" alt="..."> -->
    <!-- <img src="assets/img/DSC_0167.jpg" class="card-img-top" alt="..."> -->
    <div class="card-body">
    <h5 class="card-title">Number of likes</h5>
      <p class="card-text">{{nooflikes}}</p>
      <button type="button" class="btn btn-success" (click)="likeButtonClick()">Like</button>
      <button type="button" class="btn btn-danger" (click)="dislikeButtonClick()">Dislike</button>
      </div>
</div>


